/*
colors

dirty gold => #9C915C
maize => #FABA47
orange => #EF6229
slightly ligher orange => #FF6B3D
off gray => #F4F2ED

*/

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	-wekit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

/* 
box-sizing helper
*/

div, :before, :after, h1, h2, h3, h4, p {
  box-sizing: border-box;
}

img {
	max-width: 100%;
	height: 100%;
}

/*
font weights

normal 400
normal 400 italic {
	base text
}

semi-bold 600 {
	base text bold, links?
}

bold 700 {
	headings
}

*/

h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font-size: 2.25em; /* 36/16 */
}
h2 {
	font-size: 1.75em; /* 28/16 */
}
h3 {
	font-size: 1.5em; /* 24/16 */
}
h4 {
	font-size: 1.125em; /* 18/16 */
}
p {
	font-size: 1em;
}

/*
inline ul helper
*/

.inline {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.inline:after, .inline:before {
	content: "";
	display: table;
}
.inline:after {
	clear: both;
}
.inline li {
	float: left; /* #! always float this way? */
}

/*
container
*/
.container {
	
}

/* nav */
.nav {
	width: 100%;
	height: 42px;
	background: #464436;
}

/* port head */
.port_head {
	width: 100%;
	height: 491px;
}

/* port work */
.port_work {

}

/* port foot contact */
.port_foot-contact {
	background: #807857;
}

/* port foot links */
.port_foot-links {
	background: #565038;
}

/* media queries */
@media all and (max-width: 480px) {
	.container {width: 100%;}
}

@media all and (max-width: 768px) {
	.container {width: 100%;}
}

@media all and (min-width: 991px) {
	.container {width: 991px; margin: auto;}
}
