/*
colors

dirty gold => #9C915C
maize => #FABA47
orange => #EF6229
slightly ligher orange => #FF6B3D
off gray => #F4F2ED

*/

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	-wekit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

/* 
box-sizing helper
*/

div, :before, :after, h1, h2, h3, h4, p, ul {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: 100%;
}

/*
font weights

normal 400
normal 400 italic {
	base text
}

semi-bold 600 {
	base text bold, links?
}

bold 700 {
	headings
}

*/

h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font-size: 2.25em; /* 36/16 */
	color: #fff;
	text-shadow: 0 .1em .15em #333;
}
h1 div {
	font-weight: 400;
	font-size: .5em;
	color: #eee;
}
h2 {
	font-size: 1.75em; /* 28/16 */
	color: #E35D27;
	margin: 1em 0 1.2em 0;
	padding: 0;
}
h3 {
	font-size: 1.5em; /* 24/16 */
	color: #FF6B3D;
	margin: .7em 0 1em 0;
	padding: 0;
}
h4 {
	font-size: 1.25em; /* 18/16 */
	color: #fff;
	margin: .1em 0 .7em 0;
	padding: 0;
	font-weight: 600;
}
p {
	font-size: 1em;
	color: #333;
}
.lead {
	font-size: 1.125em;
	color: #ccc;
}

/*
inline ul helper
*/

.inline {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.inline:after, .inline:before, .container:after, .container:before {
	content: "";
	display: table;
}
.inline:after, .container:after {
	clear: both;
}
.inline li {
	float: left;
}

/*
inline ul helper > center floated items
*/
.centerwrapper {
	float: left;
	position: relative;
	left: 50%;
}
.centerwrapper_items {
	float: left;
	position: relative;
	left: -50%;
}
.centerwrapper_items li {
	margin: 0 .75em;
}

/*
container
*/
.container {
	padding: .3em 0 .5em 0;
}

/*
links
*/
.nav-link:link {color: #fff; text-decoration: none;}
.nav-link:visited {color: #fff;}
.nav-link:hover {}
.nav-link:active {color: #fff;}

.block-link:link {color: #FAA047; text-decoration: none; display: block; padding: .6em 0;}
.block-link:visited {color: #FAA047;}
.block-link:hover {color: #;}
.block-link:active {color: #FAA047;}

/*
icons
*/

.icon_base {
	color: #ccc;
	font-size: 1.65em;
	width: 2em;
	height: 2em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: .1em solid #ccc;
	line-height: 1.85em;
	background: rgba(10,10,10,.5);
}
.icon_links:link, .icon_links:visited {
	color: #fff;
	font-size: 1.5em;
	width: 1.75em;
	height: 1.75em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: .1em solid #fff;
	display: block;
	line-height: 1.75em;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	background: rgba(255,255,255,.2);
}
.icon_links:hover {
	transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	color: #FF6B3D;
	background: rgba(255,255,255,1);
}





/* nav */
.nav {
	width: 100%;
	background: #38362E;
	position: fixed;
	top: 0;
	padding: .2em 0;
	z-index: 99;
}
.nav ul {
	float: right;
}
.nav li a {
	padding: .3em .75em;
	display: block;
}

/* port head */
.port_head {
	width: 100%;
	height: 550px;
}
.port_head .lead {
	padding: .5em;
	background: rgba(10,10,10,.5);
	border-radius: .5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	-o-border-radius: .5em;
}

.port_head-contentarea {
	padding: 2em 0 1.5em;
	text-align: center;
}

/* avatar */
.port_head-avatar {
	margin: 3.2em auto 2em auto;
	width: 7em;
	height: 7em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: .3em solid #fff;
	overflow: hidden;
}

/* port work */
.port_work {
	padding: 2em 0 3em;
}
.port_work img {
	border: .1em solid #ccc;
	max-width: 100%;
	height: auto;
}

/* port foot contact */
.port_foot-contact {
	background: #807857;
	padding: 1.2em 0;
}
.port_foot-contact > div {
	text-align: center;
}

/* port foot links */
.port_foot-links {
	background: #565038;
	padding: 1em 0;
}
.port_foot-links li a {
	padding: .3em .75em;
	display: block;
}
.port_foot-links p {
	text-align: center;
	color: #fff;
}

/* media queries */
@media all and (max-width: 480px) {
	.container {width: 100%;}
	.port_head {
		background: url(../img/headerbg-handheld.jpg) 50% 100% #333 no-repeat;
		background-size: cover;
	}
}

@media all and (max-width: 768px) {
	.container {width: 100%;}
	.port_head {
		background: url(../img/headerbg-tablet.jpg) 50% 100% #333 no-repeat;
		background-size: cover;
	}
}

@media all and (max-width: 991px) {
	.container {width: 991px; margin: auto;}
	.port_head {
		background: url(../img/headerbg-desktop.jpg) 50% 100% #333 no-repeat;
		background-size: cover;
	}
}
@media all and (min-width: 1000px) {
	.container {width: 991px; margin: auto;}
	.port_head {
		background: url(../img/headerbg-hd.jpg) 50% 100% #333 no-repeat;
		background-size: cover;
	}
}